!!!
html
  head
    title Каталог Медицинских Услуг
    != helper.style('styles')
  body
    #page
      #page_inner
        #menu
        .clearer
        #container
          != body
        #footer
  != helper.scripts(assets)