border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

border-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

control-rotate()
  -webkit-transform rotate(arguments)
  -moz-transform rotate(arguments)

transition()
  -webkit-transition arguments
  -moz-transition arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, font, img, ul, li
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  background trasparent
  line-height 1.4

body
  font 12px Georgia, Verdana, Lucida Sans Unicode, sans-serif
  color #6F6F6F
  h1
    font-size 50px
  p
    margin 15px 0
  a
    color #0A7BC1
    font-weight normal
    text-decoration none